/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 5px;
  border: 0;
}
.section-title {
  color: #181818;
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}
.section-description {
  color: #757575;
  text-align: center;
}

/* nav-bar style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
  color: #181818;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav ul > li {
  list-style: none;
  margin-right: 50px;
}
nav ul > li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #474747;
}
/* banner style */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  display: flex;
  align-items: center;
  padding: 30px 30px 0px 150px;
  justify-content: space-between;
}
.banner .banner-content {
  max-width: 585px;
}
.banner .banner-greeting {
  font-size: 45px;
  font-weight: 500;
  color: #474747;
  margin-bottom: 0px;
}
.banner .banner-title {
  font-size: 85px;
  font-weight: 800;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner .banner-description {
  color: #757575;
}
.banner .banner-profile {
  width: 500px;
}
/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section style */
.about-section {
  background-color: #fff8f3;
  margin: 130px 0;
  padding: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.about-info > h4,
p {
  color: #757575;
  font-size: 19px;
  font-weight: 400;
}
.about-info > p {
  font-weight: bold;
  margin-top: -20px;
}
/* what i do section */
.what-i-do {
  margin-bottom: 130px;
}
.what-i-do > .section-description {
  margin-bottom: 50px;
}
.all-skills {
  display: flex;
  gap: 24px;
}
.skills-info {
  padding: 30px;
  box-shadow: 0 3px 18px rgba(180, 175, 175, 0.2);
  border-radius: 5px;
}
.skill-title {
  font-size: 19px;
  font-weight: bold;
}
.skill-description {
  color: #757575;
  font-size: 17px;
}
/* resume section */
.resume-section {
  margin: 130px 0;
}
.resume-section > .section-title {
  margin-bottom: 80px;
}
.resume-style {
  display: flex;
  gap: 24px;
}
.resume-title > h2 {
  color: #474747;
  font-size: 30px;
}
.degree-title {
  color: #474747;
  font-size: 25px;
}
.institute-title {
  color: #757575;
  font-size: 20px;
  margin-top: -10px;
}
.resume-description {
  font-size: 17px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-section > .btn {
  text-align: center;
  margin-top: 50px;
}
/* footer section */
footer {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  background-color: #fff8f3;
  padding: 130px;
}
.footer-column {
  max-width: 560px;
}
.footer-column > .section-title {
  text-align: left;
}
.social-links > a {
  margin-right: 15px;
}
.footer-column > p {
  color: #474747;
  font-size: 17px;
}
.footer-column .input-style {
  margin-top: 15px;
}
.footer-column .input-style input,
textarea {
  padding: 20px 25px;
  width: 460px;
  border: none;
  border-radius: 5px;
}
.footer-column .btn-primary {
  margin-top: 10px;
}
