/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 5px;
  border: 0;
}

/* nav-bar style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
  color: #181818;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav ul > li {
  list-style: none;
  margin-right: 50px;
}
nav ul > li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #474747;
}
/* banner style */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  display: flex;
  align-items: center;
  padding: 30px 30px 0px 150px;
  justify-content: space-between;
}
.banner .banner-content {
  max-width: 585px;
}
.banner .banner-greeting {
  font-size: 45px;
  font-weight: 500;
  color: #474747;
  margin-bottom: 0px;
}
.banner .banner-title {
  font-size: 85px;
  font-weight: 800;
  color: #181818;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner .banner-description {
  color: #757575;
}
.banner .banner-profile {
  width: 500px;
}
